<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    
    <title>Food Predictor</title>

    <link href="../static/css/main.css" rel="stylesheet">
    
    <!--  Bootstrap CSS  -->
    <link rel="stylesheet" href="../static/css/bootstrap-4.1.1-min.css">
    <!--  Magnific Popup CSS  -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!--  Font Awesome JS  -->
    <script src="../static/js/fontawesome-5.0.12-all.min.js"></script>
   
</head>

<body>
    <!--   ###########  header  ###########   -->
    <header id="header">
        <div class="container">
            <div class="row height-90 align-items-center justify-content-center">
                <div class="col col-md-8 mx-auto">
                    <div class="banner text-center text-capitalize">
                        <h1 class="display-1">
                            <strong class="primary-color">Don't know what you see?</strong>
                            <small class="primary-color">Let us guess</small>
                        </h1>
                        <form id="upload-file" method="post" enctype="multipart/form-data">
                          <label for="imageUpload" class="upload-label">
                              Upload Food...
                          </label>
                          <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                      </form>
                  
                      <div class="image-section" style="display:none;">
                          <div class="img-preview">
                              <div id="imagePreview">
                              </div>
                          </div>
                          <div>
                              <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict Food</button>
                          </div>
                      </div>
                  
                          <div class="loader" style="display:none;"></div>
                          <div class="banner text-center text-capitalize">
                            <h1 class="display-1">
                                <strong class="primary-color" id="result"> </strong>
                            </h1>
                      
                      </div>

                       
                    </div>
                </div>
            </div>
        </div>
        <a href="#special-items" class="btn header-link primary-color"><i class="fas fa-arrow-down"></i></a>
    </header>

<!-- navbar -->
 
<!-- navbar -->
  <!--  navbar-->
  <nav class="navbar naavbar-fixed navbar-expand-lg">
    <a class="navbar-brand text-uppercase primary-color" href="#">Food Predictor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <div class="toggler-btn">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
    </div>
  </button>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-capitalize" href="#zubeda">zubeda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" href="#namreen">namreen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" href="#muskaan">muskaan</a>
        </li>


      </ul>
      <form class="form-inline d-none d-lg-block mr-5">
        <button class="btn nav-btn text-capitalize" type="button">So now you know it</button>

      </form>
    </div>
  </nav>
  <!-- end of navbar-->


<!-- end navbar -->


<!-- menu items-->
<section id="special-items" class="py-5">
    <div class="container my-5">
      <div class="row parent-container">
        <!--       menu-item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <img src="../static/img/menu-01.jpg" alt="item" class="img-fluid img-thumbnail item-img">
            <a href="../static/img/menu-01.jpg">
              <h1 class="text-uppercases text-center item-link px-3">menu item</h1>
            </a>
          </div>
        </div>
        <!--end of menu item-->
        <!--       menu-item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <img src="../static//img/menu-02.jpg" alt="item" class="img-fluid img-thumbnail item-img">
            <a href="../static//img/menu-02.jpg">
              <h1 class="text-uppercases text-center item-link px-3">menu item</h1>
            </a>
          </div>
        </div>
        <!--end of menu item-->
        <!--       menu-item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <img src="../static/img/menu-03.jpg" alt="item" class="img-fluid img-thumbnail item-img">
            <a href="../static/img/menu-03.jpg">
              <h1 class="text-uppercases text-center item-link px-3">menu item</h1>
            </a>
          </div>
        </div>
        <!--end of menu item-->
        <!--       menu-item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <img src="../static//img/menu-04.jpg" alt="item" class="img-fluid img-thumbnail item-img">
            <a href="../static//img/menu-04.jpg">
              <h1 class="text-uppercases text-center item-link px-3">menu item</h1>
            </a>
          </div>
        </div>
        <!--end of menu item-->
        <!--       menu-item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <img src="../static/img/menu-05.jpg" alt="item" class="img-fluid img-thumbnail item-img">
            <a href="../static/img/menu-05.jpg">
              <h1 class="text-uppercases text-center item-link px-3">menu item</h1>
            </a>
          </div>
        </div>
        <!--end of menu item-->
        <!--       menu-item-->
        <div class=" col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <img src="../static/img/menu-06.jpg" alt="item" class="img-fluid img-thumbnail item-img">
            <a href="../static/img/menu-06.jpg">
              <h1 class="text-uppercases text-center item-link px-3">menu item</h1>
            </a>
          </div>
        </div>
        <!--end of menu item-->
      </div>
    </div>
  </section>


  
      <!--        team member-->
    </div>
  </div>
</section>
<!--end of team-->
<!--contact-->
<section id="contact">
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-md-6 my-3 align-self-center ">
        <div class="embed-responsive embed-responsive-21by9 height-60">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.71615844814!2d-88.01215972656996!3d41.8333924759481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1521192236095" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
      <div class="col-md-6 my-3">
        <div class="card text-center">
          <div class="card-header text-centertext-uppercase">
            <h1 class="text-uppercase">contact list</h1>
          </div>
          <div class="card-body">
            <form>
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" id="form-control" class="form-control form-control-lg text-capitalize" placeholder="Enter your name here">
              </div>
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-phone"><i class="fas fa-phone"></i></span>
                </div>
                <input type="number" class="form-control form-control-lg text-capitalize" placeholder="Enter your phone number here">
              </div>



              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-email"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control form-control-lg text-capitalize" placeholder="Enter your email here">
              </div>
              <button type="submit" class="btn btn-block btn-lg text-uppercase contact-btn"><i class="far fa-hand-point-right mr-2"></i>click here</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

  <!--  end of contact-->
  <div class="container-fluid info">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-baseline flex-wrap">
        <h2 class="#">&copy; copyright 2020</h2>

      </div>
    </div>
  </div>
 

  
       
</body>

<footer>

    <script src="../static/js/script.js" type="text/javascript"></script>

     <!-- jQuery -->
     <script src="../static/js/jquery-3.3.1.min.js"></script>
     <!--  Bootstrap JS -->
     <script src="../static/js/bootstrap-4.1.1-bundle.min.js"></script>
     <!--  Ripples JS  -->
     <script src="../static/js/jquery.ripples-min.js"></script>
     <!-- magnific popup -->
     <script src="../static/magnific-popup/jquery.magnific-popup.js"></script>
     
     
 
    
</footer>


</html>